---
layout: default
title: Me and Web Dev
---

<div class="container row">
  {% include last-post.html %}
  {% for post in site.posts offset:1 limit:2 %}
    {% include penultimate-posts.html %}
  {% endfor %}
  {% for post in site.posts offset: 3 %}
    {% if post.horizontal %}
      {% include feed-post-horizontal.html %}
    {% else %}
      {% include feed-post-vertical.html %}
    {% endif %}
  {% endfor %}
  <div class="col s12 m12 l12 center">
    <a href="/blog" class="deep-purple lighten-1 waves-effect waves-light btn-large">Leia mais</a>
  </div>
</div>
