---
layout: default
title: Me and Web Dev
---

<div class="container row">
  {% for post in site.posts %}
    {% if forloop.index == 1 %}
      {% include last-post.html %}
    {% elsif forloop.index == 2 or forloop.index == 3 %}
      {% include penultimate-posts.html %}
    {% else %}
      {% if post.horizontal %}
        {% include feed-post-horizontal.html %}
      {% else %}
        {% include feed-post-vertical.html %}
      {% endif %}
    {% endif %}
  {% endfor %}
  <div class="col s12 m12 l12 center">
    <a href="/blog" class="deep-purple lighten-1 waves-effect waves-light btn-large">Leia mais</a>
  </div>
</div>
