<div class="col s12 hide-on-med-and-up">
  <div class="card">
    <div class="card-image">
      <a href="{{ post.url }}">
        <img src="{{ post.image }}">
      </a>
    </div>
    <div class="card-content">
      <a href="{{ post.url }}">
        <span class="card-title">{{ post.title }}</span>
      </a>
      <p>{{ post.description }}</p>
    </div>
    <div class="card-action">
      {% if post.tags[0] != page.pagination.tags %}
        {% for tag in post.tags limit:2 %}
          {% include tag.html %}
        {% endfor %}
      {% else %}
        {% for tag in post.tags offset:2 limit:2 %}
          {% include tag.html %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
