<footer class="page-footer deep-purple">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6">
        <a href="" class="left">A</a>
        <!-- <ul>
          {% for item in site.data.navigation %}
            <li>
              <a class="white-text" href="{{ item.link }}">
                {{ item.name }}
              </a>
            </li>
          {% endfor %}
        </ul> -->
      </div>
      <div class="col s12 m6 l6 right">
        <a href="#" class="right">B</a>
      </div>
    </div>
  </div>
</footer>
