<div class="col m12 l12 hide-on-small-only">
  <div class="card small horizontal">
    <div class="card-image">
      <a href="{{ post.url }}">
        <img src="{{ post.image }}">
      </a>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <a href="{{ post.url }}">
          <span class="card-title">
            {{ post.title }}
          </span>
        </a>
        <p>{{ post.description }}</p>
      </div>
      <div class="card-action yellow-text text-darken-2">
        {% for tag in post.tags limit:4 %}
          {% if tag == page.pagination.tags %}
            {% continue %}
          {% endif %}
          {% include tag.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% include feed-post-mobile.html %}
