<div class="col m12 l12 hide-on-small-only">
  <div class="card small horizontal">
    <div class="card-image">
      <img src="{{ site.posts[0].image }}">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <span class="card-title">{{ site.posts[0].title }}</span>
        <p>{{ site.posts[0].introPhrase }}</p>
      </div>
      <div class="card-action yellow-text text-darken-2">
        <a href="{{ site.posts[0].url }}">Leia mais</a>
      </div>
    </div>
  </div>
</div>

<div class="col s12 hide-on-med-and-up">
  <div class="card medium">
    <div class="card-image">
      <img src="{{ site.posts[0].image }}">
    </div>
    <div class="card-content">
      <span class="card-title">{{ site.posts[0].title }}</span>
      <p>{{ site.posts[0].introPhrase }}</p>
    </div>
    <div class="card-action">
      <a href="{{ site.posts[0].url }}">Leia mais</a>
    </div>
  </div>
</div>
