{% include dropdown-content.html %}
<div class="navbar-fixed hide-on-small-only">
  <nav class="deep-purple">
    <div class="nav-wrapper row container">
      <a href="/" class="brand-logo">
        <img id="logo" src="/assets/images/logo_alt.svg" class="img-responsive" alt="Logomarca do site">
        <span class="logo-text hide-on-small-only">
          me <span class="yellow-text text-darken-2">&&</span> webDev
        </span>
      </a>
      <a href="#" data-target="mobile-side-nav" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% include nav-itens.html %}
        {% include dropdown.html %}
        <li>
          <a class="modal-trigger waves-effect waves-light" href="#modal-search">
            <i class="material-icons">search</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div id="navbar-mobile" class="navbar-fixed hide-on-med-and-up">
  <nav class="deep-purple">
    <div class="nav-wrapper row container">
      <a href="/" class="brand-logo">
        <img id="logo" src="/assets/images/logo_alt.svg" class="img-responsive" alt="Logomarca do site">
        <span class="logo-text hide-on-small-only">
          me <span class="yellow-text text-darken-2">&&</span> webDev
        </span>
      </a>
      <a href="#" data-target="mobile-side-nav" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% include nav-itens.html %}
        <li>
          <a class="modal-trigger waves-effect waves-light" href="#modal-search">
            <i class="material-icons">search</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- Sidenav para mobile -->
<ul id="mobile-side-nav" class="sidenav">
  <li>
    <form onsubmit="searchOnDuckDuckGo()">
      <div class="input-field">
        <input id="mobile-search" type="search" required>
        <label class="label-icon">
          <button type="submit"><i class="material-icons">search</i></button>
        </label>
        <i class="material-icons" onclick="document.getElementById('mobile-search').value = ''">close</i>
      </div>
    </form>
  </li>
  {% include nav-itens.html %}
  <li>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          Linguagens<i class="material-icons right">arrow_drop_down</i>
        </div>
        <div class="collapsible-body">
          {% assign langs = site.data.navigation.[1].subfolderitems | sort: 'name' %}
          <ul>
            {% for lang in langs %}
              <li class="{% if page.pagination.tags == lang.name %} active {% endif %} {{ lang.color }}">
                <a href="{{ lang.link }}">{{ lang.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>

<div id="modal-search" class="modal deep-purple lighten-2">
  <div class="modal-content">
    <nav>
      <div class="nav-wrapper">
        <form onsubmit="searchOnDuckDuckGo()">
          <div class="input-field white">
            <input id="search-box" type="search" placeholder="Buscar" name="q" required>
            <label class="label-icon">
              <button type="submit"><i class="material-icons">search</i></button>
            </label>
            <i class="material-icons modal-close">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>
