{% if paginator.total_pages > 1 %}
  <ul class="pagination center-align">
    {% if paginator.previous_page %}
      <li class="waves-effect">
        <a href="{{ paginator.first_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          <i class="material-icons">first_page</i>
        </a>
      </li>
      <li class="waves-effect">
        <a href="{{ paginator.previous_page_path | relative_url }}">
          <i class="material-icons">chevron_left</i>
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#!">
          <i class="material-icons">first_page</i>
        </a>
      </li>
      <li class="disabled">
        <a href="#!">
          <i class="material-icons">chevron_left</i>
        </a>
      </li>
    {% endif %}

    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        {% if trail.path == page.url %}
          <li class="active">
            <a href="#!">{{ trail.num }}</a>
          </li>
        {% else %}
          <li class="waves-effect">
            <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}">
              {{ trail.num }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
      <li class="waves-effect">
        <a href="{{ paginator.next_page_path | relative_url }}">
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
      <li class="waves-effect">
        <a href="{{ paginator.last_page_path | prepend: site.baseurl | replace: '//', '/' }}">
          <i class="material-icons">last_page</i>
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#!">
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
      <li class="disabled">
        <a href="#!">
          <i class="material-icons">last_page</i>
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
