<div class="col l6 hide-on-med-and-down">
  <div class="card medium">
    <div class="card-image">
      <a href="{{ post.url }}">
        <img src="{{ post.image }}">
        <span class="card-title">{{ post.title }}</span>
      </a>
    </div>
    <div class="card-content">
      <p>{{ post.introPhrase }}</p>
    </div>
    <div class="card-action">
        {% for tag in post.tags limit:3 %}
          {% include tag.html %}
        {% endfor %}
    </div>
  </div>
</div>

{% include feed-post-mobile.html %}
