<div id="fab" class="fixed-action-btn hide-on-small-only">
  <a class="btn-floating btn-large deep-purple">
    <i class="large material-icons">share</i>
  </a>
  <ul>
    <li><a class="btn-floating blue darken-4">L</a></li>
    <li><a class="btn-floating green">W</a></li>
    <li><a class="btn-floating blue darken-3">F</a></li>
  </ul>
</div>

<div id="mobile-share" class="hide-on-med-and-up">
  <ul>
    <li><a class="btn blue darken-4">L</a></li>
    <li><a class="btn green">W</a></li>
    <li><a class="btn blue darken-3">F</a></li>
  </ul>
</div>
