<div id="fab" class="fixed-action-btn hide-on-small-only">
  <a class="btn-floating btn-large deep-purple">
    <i class="large material-icons">share</i>
  </a>
  <ul>
    <li>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://me-and-webdev.github.io{{ page.url }}&title={{ page.title }}&summary={{ page.introPhrase }}&source=Me and WebDev"
      class="btn-floating linkedin-share"
      onclick="shareIt(this.href); return false">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="//pinterest.com/pin/create/link/?url=url=https://me-and-webdev.github.io{{ page.url }}&media={{ page.image }}&description={{ page.introPhrase }}"
      class="btn-floating pinterest-share"
      onclick="shareIt(this.href); return false">
        <i class="fa fa-pinterest"></i>
      </a>
    </li>
    <li>
      <a href="https://me-and-webdev.github.io{{ page.url }}"
      class="btn-floating facebook-share"
      onclick="fbShare(this.href); return false">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://me-and-webdev.github.io{{ page.url }}"
      class="btn-floating twitter-share"
      onclick="shareIt(this.href); return false">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
  </ul>
</div>

<div id="mobile-share" class="hide-on-med-and-up">
  <ul>
    <li>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://me-and-webdev.github.io{{ page.url }}&title={{ page.title }}&summary={{ page.introPhrase }}&source=Me and WebDev"
      class="btn linkedin-share"
      onclick="shareIt(this.href); return false">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://telegram.me/share/url?url=https://me-and-webdev.github.io{{ page.url }}&text={{ page.title }}"
      class="btn telegram-share"
      onclick="shareIt(this.href); return false">
        <i class="fa fa-telegram"></i>
      </a>
    </li>
    <li>
      <a href="whatsapp://send?text=https://me-and-webdev.github.io{{ page.url }}" class="btn whatsapp-share">
        <i class="fa fa-whatsapp"></i>
      </a>
    </li>
    <li>
      <a href="https://me-and-webdev.github.io{{ page.url }}"
      class="btn facebook-share"
      onclick="fbShare(this.href); return false">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://me-and-webdev.github.io{{ page.url }}"
      class="btn twitter-share"
      onclick="shareIt(this.href); return false">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
  </ul>
</div>
