<div id="fab" class="fixed-action-btn hide-on-small-only">
  <a class="btn-floating btn-large deep-purple">
    <i class="large material-icons">share</i>
  </a>
  <ul>
    <li>
      <a href="!#" class="btn-floating linkedin-share">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="https://me-and-webdev.github.io{{ page.url }}"
      class="btn-floating facebook-share"
      onclick="fbShare(this.href); return false">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://me-and-webdev.github.io{{ page.url }}"
      class="btn-floating twitter-share"
      onclick="twShare(this.href); return false">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
  </ul>
</div>

<div id="mobile-share" class="hide-on-med-and-up">
  <ul>
    <li>
      <a href="!#" class="btn linkedin-share">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a href="!#" class="btn whatsapp-share">
        <i class="fa fa-whatsapp"></i>
      </a>
    </li>
    <li>
      <a href="https://me-and-webdev.github.io{{ page.url }}"
      class="btn facebook-share"
      onclick="fbShare(this.href); return false">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=https://me-and-webdev.github.io{{ page.url }}"
      class="btn twitter-share"
      onclick="twShare(this.href); return false">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
  </ul>
</div>
