{% for item in site.data.navigation %}
  {% for entry in item.subfolderitems %}
    {% if entry.name == tag %}
      {% assign target = entry.link %}
      {% break %}
    {% else %}
      {% assign target = "#!" %}
    {% endif %}
  {% endfor %}
  {% if target != "#!" %}
    {% break %}
  {% endif %}
{% endfor %}

<a
href="{{ target }}"
class="chip
{% if tag == 'JavaScript' %}
  yellow accent-3
{% elsif tag == 'CSS' %}
  blue lighten-1
{% elsif tag == 'HTML' %}
  amber darken-4
{% elsif tag == 'Python' %}
  green accent-4
{% else %}
  grey lighten-1
{% endif %}"
>
  {{ tag }}
</a>
