@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');

body {
  background-color: #f3e5f5;
  /* As mudanças a seguir são para manter o footer
  no fim da página independente da quaintidade de conteúdo */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  /* Manter o footer no fim da página */
  flex: 1 0 auto;
}

/* Ajustes para a barra de navegação */
nav .brand-logo {
  position: inherit;
  display: inline-block;
  height: 100%;
  margin-left: 12px;
}

@media only screen and (max-width: 600px) {
  nav .brand-logo {
    left: calc(100% - 138px)
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  nav .brand-logo {
    left: calc(100% - 218px)
  }
}

.brand-logo .logo-text {
  position: relative;
  margin-left: 55px;
  font-family: 'Oxygen Mono';
  word-spacing: -10px;
}

.brand-logo img {
  width: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

nav ul {
  margin-right: 12px;
}

nav ul li {
  font-weight: bold;
}

nav ul li:hover, nav ul li.active {
  background-color: rgba(237, 231, 246, .2);
}

#navbar-mobile {
  transition: top 0.3s ease-in-out;
}

.sidenav li a {
  color: #673ab7;
}

.sidenav li:hover, #mobile-nav li.active {
  background-color: #ede7f6;
}

.sidenav .input-field {
  margin: 0;
}

.sidenav input[type=search] {
  padding: 0 15%;
  margin: 0;
  box-sizing: border-box;
}

.sidenav i[onclick] {
  top: 15% !important;
}

.sidenav .collapsible .collapsible-header {
  padding: 0 32px;
  font-weight: 500;
  color: #673ab7;
}

.sidenav .collapsible .collapsible-body li.active {
  border-left: 5px solid #673ab7;
}

.sidenav .collapsible .collapsible-body li.active a {
  color: white;
}

.sidenav .collapsible a {
  color: rgba(0, 0, 0, 0.6);
  padding-left: 48px !important;
}

#modal-search .modal-content {
  padding: 10px;
}

#nav-dropdown a {
  color: rgba(0, 0, 0, 0.6);
}

#nav-dropdown li.active a {
  color: white;
}
/* Fim dos ajustes para a barra de navegação */

/* Ajustes para os cards */
.card-image .card-title {
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0));
}

.card .card-content .card-title {
  color: #212121;
  transition: color .4s;
}

.card .card-title {
  font-weight: 400;
}

.card-content .card-title:hover {
  color: #fbc02d;
}

.card.horizontal .card-content {
  max-height: 81%;
}

.card.horizontal .card-content .left {
  margin: 8% 0;
}

.card-action {
  font-weight: 500;
}

.card-action .chip {
  color: rgba(0, 0, 0, 0.6) !important;
  margin: 0 5px 5px 0 !important;
  text-transform: unset !important;
}
/* Fim dos ajustes para os cards */

/* Ajustes para o início da página */

/* Fim dos ajustes do início da página */

/* Ajustes para posts */
.post header {
  border-bottom: solid 1px #7e57c2;
  margin-bottom: 5%;
  padding: 0 1%;
}

.post header > p {
  width: 100%;
}

.post header div {
  margin-top: 1%;
  margin-bottom: 1%;
}

.post header div p {
  display: inline-block;
  width: 40%;
}

.post header .chip {
  float: right;
  margin: 15px 5px;

}

.post h1 {
  font-weight: 500;
}

.post h2 {
  width: 72%;
  margin: 5% auto 2%;
}

@media only screen and (max-width: 600px) {
  .post h1 {
    font-size: 240%;
  }

  .post h2 {
    width: 100%;
    font-size: 205%;
  }
}

.post p {
  width: 72%;
  margin: 15px auto;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .post p {
    width: 100%;
  }
}
/* Fim dos ajustes para posts */

/* Ajustes para o FAB */
.fixed-action-btn {
  right: 15%;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .fixed-action-btn {
    right: 8%;
  }
}

@media only screen and (max-width: 600px) {
  .fixed-action-btn {
    right: 5%;
  }
}
/* Fim dos ajustes para o FAB */

/* Ajustes para o paginator */
.pagination li.active {
  background-color: #7e57c2;
}
/* Fim dos ajustes para o paginator */

/* Ajustes para o layout das sessões */
.tag-feed h1{
  padding: 0 0.75rem;
}
/* Fim dos ajustes para o layout das sessões */

/* Ajustes para o rodapé */
.page-footer .row {
  margin-bottom: 0;
}

footer ul li {
  font-size: initial;
}

footer img {
  width: 120px;
  vertical-align: middle;
}

footer .col:first-child img {
  margin-left: -6%;
}

address {
  margin: 4% 0;
  font-style: inherit;
}

@media only screen and (max-width: 600px) {
  footer .col {
    text-align: center;
  }

  footer .valign-wrapper {
    flex-flow: column;
  }

  footer .col a {
    display: block;
  }

  footer .col:first-child a {
    margin-bottom: 4%;
  }
}
/* Fim dos ajustes para o dapé */
